* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: system-ui, Segoe UI, Roboto, sans-serif;
  color: white;
  background: #1e1a20;
  scroll-behavior: smooth;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1, h2 {
  font-weight: 700;
  font-size: 3rem;
}
